<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title>Home Hub</title>
</head>

<body>

  {% include "home/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Hello LandLord</h1>
    <p class="lead">All Types of Hosue services will be sorted here.</p>
    <hr class="my-4">
    <p>Welcome to Home Hub, your trusted partner in property management. We are a team of experienced professionals dedicated to providing exceptional property management services to our clients.

Our mission is to provide high-quality, personalized property management services that meet the unique needs of each of our clients. We believe that every property is unique and requires a tailored approach to management.

At Home Hub, we offer a wide range of property management services, including tenant screening, leasing, maintenance, and repairs. We work with property owners to ensure that their properties are well-maintained and profitable.

Our team has over 5 years of combined experience in property management. Our team members are experts in their respective fields and hold relevant certifications and licenses. We stay up-to-date with the latest industry trends and best practices to provide the highest quality services to our clients.

We take pride in our work and are committed to providing exceptional customer service. We believe that open communication and transparency are key to building strong relationships with our clients. We strive to keep our clients informed and involved in every aspect of property management.

At Home Hub, we are committed to sustainability and environmental responsibility. We are constantly looking for ways to reduce our environmental impact and help our clients do the same.

Thank you for considering Home Hub for your property management needs. We look forward to working with you. If you have any questions or would like to learn more about our services, please don't hesitate to contact us..</p>
    
  </div>
  
  {% include "home/footer.html" %}
</body>

</html>
