<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
   footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 4px;
  background-color: #A2D9CE;
}


    p {
      text-align: center;}
  </style>
</head>

<footer>
<p>Copyright &copy; 2023 x22156411@student.ncirl.ie</p>
</footer>

</html>
